body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9; /* fundo claro */
    color: black; 
    margin: 0;
    line-height: 1.6;
    padding: 0;
}
header {
    background-color: #00d1b2;
    color: white;
}
header p{
    text-align: center;
    color: white;
}
h1 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5rem;
    color: black; /* tom mais escuro para variação */
    margin-bottom: 0.5em;
}

footer p{
    text-align: center;
    color: #ffffff; /* tom cinza para o texto do rodapé */
}
p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 1em;
    text-align: justify;
}
.image img {
    max-width: 100%;
    height: auto;
}
.galeria {
    column-count: 3; 
    column-gap: 1em; 
    padding: 1em;
}

.galeria img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 8px;
    display: block;
    transition: transform 0.3s, box-shadow 0.3s;
}

.galeria img:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.navbar-item{
    color: white
}
@media (max-width: 768px) {
    .galeria {
        column-count: 2;
    }
    .navbar-item{
    color: #00d1b2
}
}

@media (max-width: 480px) {
    .galeria {
        column-count: 1;
    }
    .navbar-item{
    color: #00d1b2
}
}

.navbar ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
}
